html, body{
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    font-size: 12pt;
    font-family: 'Montserrat-Medium';
}

header{
    padding: 0.5em 2em 0.5em 2em;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: baseline;
}

main{
    padding: 1em 2em 1em 2em;
}

a .fab{
    color: black;
}

.important{
    color: #f39026;
}

.graphs_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 10px
}

#bar_graph{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-right: 0;
}

#bar_chart{
    padding-right: 1em;
}

#pie_graph_sexe{
    grid-column: 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
}

#pie_graph_age{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
}

#pie_graph_age > *, #pie_graph_sexe > *{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}

#pie_graph_age > h2, #pie_graph_sexe > h2{
    color: black;
}

header .fab{
    transition: 0.7s;
    opacity: 0.6;
    cursor: pointer;
}


header .fab:hover{
    transition: 0.7s;
    opacity: 1;
    scale: 1.1;
}

.card{
    background-color: white;
    padding: 0 1em 0 1em;
    border-radius: 1em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: 0.3s;
}

.card:hover{
    -webkit-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.3);
    transition: 0.3s;
}

#title{
    font-family: 'Montserrat-ExtraBold';
}

#credits{
    font-family: 'Montserrat-Medium';
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
}

.name{
    font-family: 'Montserrat-ExtraBold';
    color: #f39026;
}

.icon_text{
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.icon_text .fas{
    color: white;
}

.filters{
    padding: 0 1em 0 1em;
    background-color: #f39026;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.filters form{
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.filters p, .filters h3, .filters label{
    color: white;
}

#apply{
    background-color: white;
    padding: 0.5em;
    font-family: 'Montserrat-ExtraBold';
    border-radius: 1em;
    color: #f39026;
    cursor: pointer;
    border-style: none;
}

#apply:active{
    transition: 0.1s;
    scale: 0.95;
}

.bar{
    transition: 0.3s;
    opacity: 0.8;
}

.bar:hover{
    transition: 0.3s;
    opacity: 1;
}